:root{
    --color_pricipal:rgb(133, 158, 212);
    --color_secundario:rgb(50, 197, 190);
    --fontsize:16px;
    --myfont:'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
    --cajawidth:1200px;
}

/* *{
    margin: 0;
    padding: 0;
} */

html{
    box-sizing: border-box;
    font-family: var(--myfont);
    font-size: var(--fontsize);
    scroll-behavior: smooth;

}

*:before{
    box-sizing:inherit;
}
*:after{
    box-sizing:inherit ;
}

body{
    margin:0;
    font-size: inherit;
    overflow-x: hidden;
    box-sizing: inherit;
}

.img_logo{
    margin-top:1rem;
    display: inline-block;
}
.logo{
    display:flex;
    flex-direction: row;
}

.navigation{
    display: flex;
    flex-direction: row;
}

.contenedor_menu{
    width: 100%;
}
.Menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 0px 10px 10px;
}

.Menu li{
    align-content: center;
    margin: auto auto;
} 

img{
    max-width: 100%;
    height: auto;
}

li{
    list-style: none;
}

a{  
    
    text-decoration: none;
    color: var(--color_pricipal);
}

h1{
    font-size:50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}

p {
    text-align: justify;
    margin: 1.5rem 1.5rem;
}

@media screen and (max-width: 400px) {
    .Menu{
        flex-direction: column;}
}